.un {
  display: inline-block;
  position: relative;
  text-decoration: none;
}
.un::after {
  content: "";
  position: absolute;
  width: 60%;
  transform: scaleX(0);
  border-radius: 5px;
  height: 2px;
  bottom: 0;
  left: 0;
  background: currentcolor;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.un:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
