html,
body {
  transition:
    background-color 0.3s,
    color 0.3s ease;
}

.theme-icon {
  transform: rotate(0deg);
  opacity: 1;
  transition:
    transform 0.3s ease,
    opacity 0.3s ease;
}

html.dark .theme-icon {
  transform: rotate(180deg);
  opacity: 0.5;
}

.transition-all {
  transition: all 0.3s;
}

.un {
  display: inline-block;
  position: relative;
  text-decoration: none;
}
.un::after {
  content: "";
  position: absolute;
  width: 60%;
  transform: scaleX(0);
  border-radius: 5px;
  height: 2px;
  bottom: 0;
  left: 0;
  background: currentcolor;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.un:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.fixed-nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
