---
import Layout from "../layouts/Layout.astro";
import MoreService from "../components/moreService.astro";
import AboutDesc from "../components/about.astro";

//adjust these variable to change your content
const title = "About";
const introText = "Doing Business in your area for over 10 years";
---

<Layout title="Company Name | About Us">
  <div
    class="flex h-[40vh] items-center justify-center bg-[url('/heroimg.webp')] bg-cover bg-center py-20 text-center text-6xl font-bold text-white shadow-xl"
  >
    <p
      transition:name="heroTxt"
      class="drop-shadow-[0_1.2px_1.2px_rgba(0,0,0,4)]"
    >
      {title}
    </p>
  </div>
  <h1
    transition:name="introTxt"
    class="m-10 mb-20 text-center text-xl font-bold"
  >
    {introText}
  </h1>

  <AboutDesc />
  <MoreService />
</Layout>
