---
import Layout from "../layouts/Layout.astro";
import ThemeToggle from "../components/theme";
---

<Layout title="Welcome to Astro.">
  <main class="bg-gray-100 dark:bg-purple-950 h-[100vh]">
	<!--This will be moved into the navigation component --><ThemeToggle client:load />
    <p>Hello</p>
  </main>
</Layout>
