---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/nav.tsx";
---

<Layout title="Welcome to Astro.">
  <main class="h-[100vh]">
    <!--This will be moved into the navigation component -->
    <Nav client:load />
  </main>
</Layout>
