---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/hero.astro";
import Services from "../components/services.astro";
import MoreService from "../components/moreService.astro";
---

<Layout title="Your Company - What You Do">
  <main>
    <Hero />
    <Services />
    <MoreService />
  </main>
</Layout>
