---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/hero.astro";
import Services from "../components/services.astro";
import MoreService from "../components/moreService.astro";
import Faq from "../components/faq";
//adjust these variable to change your content
const title = "Your Company - What You Do";
---

<Layout title={title}>
  <main>
    <Hero />
    <MoreService />
    <Services />
    <Faq client:load />
  </main>
</Layout>
