---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/hero.astro";
import Services from "../components/services.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <Hero />
    <Services />
  </main>
</Layout>
