---
import Layout from "../layouts/Layout.astro";
import Testimonial from "../components/testimonial.astro";
const title = "Reviews";
---

<Layout title="Company Name | Reviews">
  <div
    class="mt-20 flex h-[40vh] items-center justify-center bg-[url('/heroIMG.jpeg')] bg-cover bg-center py-20 text-center text-6xl font-bold text-white shadow-xl"
  >
    <p class="drop-shadow-[0_1.2px_1.2px_rgba(0,0,0,4)]">{title}</p>
  </div>
  <Testimonial />
  <Testimonial />
  <Testimonial />
</Layout>
