---
import Layout from "../layouts/Layout.astro";
import Service from "../components/services.astro";
import MoreService from "../components/moreService.astro";

//adjust these variable to change your content
const title = "Our Services";
const introText = "Here are a few of the service we offer";
---

<Layout title="Company Name | Our Services">
  <div
    class="flex h-[40vh] items-center justify-center bg-[url('/heroimg.webp')] bg-cover bg-center py-20 text-center text-6xl font-bold text-white shadow-xl"
  >
    <p
      transition:name="heroTxt"
      class="drop-shadow-[0_1.2px_1.2px_rgba(0,0,0,4)]"
    >
      {title}
    </p>
  </div>
  <p transition:name="introTxt" class="m-10 text-center text-xl font-bold">
    {introText}
  </p>
  <MoreService />
  <div class="mt-60"></div>
  <Service />
</Layout>
