---

---

<section class="bg-slate-800 text-white p-10">
  <p class="text-2xl pb-10">end of page call to action with anchor to contact</p>
  <a class='bg-yellow-300 text-xl text-black px-10 py-4 rounded-md hover:bg-yellow-500' href="/Contact">Call to action</a>
</section>
