---

---

<section class="mt-40 gap-4 bg-slate-800 px-10 py-40 text-center text-white">
  <h1 class="mx-20 pb-10 text-6xl">Suggest Confidence In Your Company</h1>
  <h2 class="mb-20 pb-10 text-2xl">
    quick affirmative line about your company or why a customer would love to
    work with you
  </h2>
  <a
    class="rounded-md bg-yellow-300 px-10 py-4 text-xl text-black hover:bg-yellow-500"
    href="/Contact">Get In Touch</a
  >
</section>
