---

---

<section class="bg-slate-800 px-10 py-40 mt-40 text-white gap-4 text-center">
  <h1 class="pb-10 text-6xl">
    One line suggesting confidence in your company
  </h1>
  <h2 class="pb-10 text-2xl">quick reaffirmative line about why a customer would love to work with you</h2>
  <a
    class="rounded-md bg-yellow-300 px-10 py-4 text-xl text-black hover:bg-yellow-500"
    href="/Contact">Get In Touch</a
  >
</section>
