---

---

<footer class="bg-black pt-20 text-white dark:bg-gray-100 dark:text-black">
  <div class="flex justify-between">
    <p>Logo</p>
    <ul>
      <p>Navigation</p>
      <a href="/">Home</a>
      <a href="/Contact">Contact</a>
      <a href="/About">About Us</a>
      <a href="/Services">Services</a>
      <a href="/Reviews">Reviews</a>

    </ul>
    <ul>
      CONTACT
      <li>addres</li>
      <li>email</li>
      <li>phone</li>
    </ul>
  </div>
  <div class="mt-10 flex justify-center">
    <p>Designed by</p>
    <p>Copyright 2024</p>
  </div>
</footer>
