---

---

<footer
  class="bg-black px-20 py-20 text-xl text-white dark:bg-black dark:text-white"
>
  <div class="flex justify-between">
    <img
      src="/Cartoon.jpeg"
      alt="company logo"
      class="h-[140px] rounded-full"
    />
    <ul class="flex flex-col gap-2 pb-4 text-left">
      <p class="text-4xl">Navigation</p>
      <a class="un" href="/">Home</a>
      <a class="un" href="/About">About</a>
      <a class="un" href="/Services">Services</a>
      <a class="un" href="/Reviews">Reviews</a>
      <a class="un" href="/Contact">Contact</a>
    </ul>
    <ul class="flex max-w-[160px] flex-col gap-2 text-left">
      <p class="text-4xl">Contact</p>
      <a href="/Contact">123 Company st. Address 12345</a>
      <a href="mailto:Company@email.com">Company@email.com</a>
      <tel>000-000-0000</tel>
    </ul>
  </div>
  <div class="mt-10 flex flex-col items-center justify-center">
    <p>Designed by Dillonpw</p>
    <p>© Copyright 2024</p>
  </div>
</footer>
