---
const location = "123 Company street City 12345";
const email = "Company@email.com";
const phone = "000-000-0000";
---

<footer class="text-md gap-4 px-6 pb-8 pt-20 sm:text-xl md:px-40">
  <div class="flex justify-between">
    <div class="flex-col">
      <ul class="flex flex-col gap-2 pb-4 text-left">
        <li><a class="un" href="/">Home</a></li>
        <li><a class="un" href="/About">About</a></li>
        <li><a class="un" href="/Services">Services</a></li>
        <li><a class="un" href="/Reviews">Reviews</a></li>
        <li><a class="un" href="/Contact">Contact</a></li>
      </ul>
    </div>
    <div class="flex-col">
      <ul class="flex max-w-[160px] flex-col gap-2 text-left">
        <li><a href="/Contact">{location}</a></li>
        <li><a href=`mailto:${email}`>{email}</a></li>
      </ul>
      <tel>{phone}</tel>
    </div>
  </div>
  <div class="mt-10 flex flex-col items-center justify-center">
    <p>
      Designed by <a
        class="un"
        href="https://github.com/dillonpw"
        target="_blank">Dillonpw</a
      >
    </p>
    <p>© Copyright 2024</p>
  </div>
</footer>
