---
import Hover from "../components/hover.tsx";

// adjust these variable to change your content
const location = "123 Company street City 12345";
const email = "Company@email.com";
const phone = "000-000-0000";
---

<footer class="text-md gap-4 px-6 pb-8 pt-20 sm:text-xl md:px-40">
  <div class="flex justify-between">
    <div class="flex-col">
      <ul class="flex flex-col gap-2 pb-4 text-left">
        <li><a class="un" name="Home" href="/">Home</a></li>
        <li><a class="un" name="About" href="/About">About</a></li>
        <li><a class="un" name="Services" href="/Services">Services</a></li>
        <li><a class="un" name="Reviews" href="/Reviews">Reviews</a></li>
        <li><a class="un" name="Contact" href="/Contact">Contact</a></li>
      </ul>
    </div>
    <div class="flex-col">
      <ul class="flex max-w-[160px] flex-col gap-2 text-left">
        <li><a href="/Contact">{location}</a></li>
        <li><a href=`mailto:${email}`>{email}</a></li>
      </ul>
      <tel>{phone}</tel>
    </div>
    <!--Insert terms/Privacy polivy here if needed -->
  </div>
  <div class="mt-10 flex flex-col items-center justify-center">
    <div class="flex gap-1">
      <p>Designed by</p>
      <Hover client:load />
    </div>
    <p>© Copyright 2024</p>
  </div>
</footer>
