---

---

<footer>
  <p>Logo</p>
  <ul>
    navigation
    <li></li>
    <li></li>
    <li></li>
  </ul>
  <ul>CONTACT
    <li></li>
    <li></li>
    <li></li>
  </ul>
  <p>Designed by </p>
  <p>Copyright 2024</p>
</footer>
