---

---

<footer
  class="gap-4 bg-gray-100 px-20 pb-8 pt-20 text-lg sm:text-xl dark:bg-stone-800 dark:text-white"
>
  <div class="flex justify-evenly">
    <ul class="flex flex-col gap-1 pb-4 text-left">
      <p class="text-2xl sm:text-4xl">Info</p>
      <a class="un" href="/">Home</a>
      <a class="un" href="/About">About</a>
      <a class="un" href="/Services">Services</a>
      <a class="un" href="/Reviews">Reviews</a>
      <a class="un" href="/Contact">Contact</a>
    </ul>
    <ul class="flex max-w-[160px] flex-col gap-2 text-left">
      <p class="text-2xl sm:text-4xl">Contact</p>
      <a href="/Contact">123 Company st. Address 12345</a>
      <a href="mailto:Company@email.com">Company@email.com</a>
      <tel>000-000-0000</tel>
    </ul>
  </div>
  <div class="mt-10 flex flex-col items-center justify-center">
    <p>Designed by You</p>
    <p>© Copyright 2024</p>
  </div>
</footer>
