---

---

<form action="mailto:qyYvz@example.com" class="grid grid-cols-2">
  <h1>Get in touch</h1>
  <p>Let us know how we can help</p>
  <label for="name">Name:</label>
  <input type="text" id="name" placeholder="Name" />
  <label for="email">Email:</label>
  <input type="text" id="email" placeholder="Email" />
  <label for="message">Message:</label>
  <textarea placeholder="Message"></textarea>
  <input type="submit" value="Send" />
</form>
