---

---

<section class="h-[70vh] w-full bg-[url('/heroIMG.jpg')] bg-center">
    <div class="h-full w-full bg-black bg-opacity-30">
      <div class="flex h-full flex-col items-center justify-center text-white">
        <h1 class="mb-4 text-8xl underline decoration-yellow-300">Main Keywords</h1>
        <h2 class="mb-8 text-4xl ">brief description of services</h2>
        <a class=" bg-yellow-300 text-black p-4 rounded-md hover:bg-yellow-500" href="/Contact">Call to action</a>
      </div>
    </div>
  </section>
  