---
const link = "/Contact";
import Image from "astro/components/Image.astro";

// adjust these variable to change your content
const mainText = "Main Keywords";
const secondaryText = " brief description of services";
---

<head>
  <link rel="preload" href="/heroimg.webp" as="image" />
</head>

<section class="relative z-[-10] h-[70vh] w-full">
  <Image
    src="/heroimg.webp"
    alt="hero"
    loading="eager"
    class="absolute inset-0 h-full w-full object-cover"
    width={1920}
    height={1080}
  />
  <div
    class="relative z-10 flex h-full flex-col items-center justify-center text-gray-100"
  >
    <h1
      transition:name="heroTxt"
      class="pb-10 pt-20 text-center text-6xl font-bold drop-shadow-[0_1.2px_1.2px_rgba(0,0,0,4)] md:text-8xl"
    >
      {mainText}
    </h1>
    <h2
      transition:name="introTxt"
      class="pb-6 text-center text-2xl drop-shadow-[0_1.2px_1.2px_rgba(0,0,0,4)] md:text-4xl"
    >
      {secondaryText}
    </h2>
  </div>
</section>
