---
import Button from "./button.astro";
const link = "/Contact";
const text = "Call to Action";
---

<section class="h-[70vh] w-full bg-[url('/heroIMG.jpg')] bg-cover">
  <div class="h-full w-full bg-black bg-opacity-30">
    <div class="flex h-full flex-col items-center justify-center text-white">
      <h1 class="mb-4 text-center text-8xl">Main Keywords</h1>
      <h2 class="mb-8 text-4xl text-center">brief description of services</h2>
      <Button link={link} text={text} />
    </div>
  </div>
</section>
