---
import Button from "./button.astro";
const link = "/Contact";
const text = "Call to Action";
---

<section class="h-[70vh] w-full bg-[url('/heroIMG.jpeg')] bg-cover">
  <div class="flex h-full flex-col items-center justify-center text-white">
    <h1 class="pb-10 pt-20 text-center text-6xl font-bold md:text-8xl">
      Main Keywords
    </h1>
    <h2 class="pb-6 text-center text-2xl md:text-4xl">
      brief description of services
    </h2>
    <Button link={link} text={text} />
  </div>
</section>
