---
import Image from "astro/components/Image.astro";
import Button from "./button.astro";
const link = "/Contact";
const text = "Get A Quote";
---

<section class="mb-20 mt-40 flex flex-col items-center gap-4 p-4 lg:flex-row">
  <div class="order-1 flex w-full justify-center lg:w-1/2">
    <div class="group relative w-full max-w-md">
      <Image
        src="/work1.jpg"
        alt="completed work"
        class="h-auto w-full mx-auto max-w-xs sm:max-w-sm md:max-w-md lg:max-w-lg xl:max-w-xl rounded-xl shadow-md"
        width={500}
        height={500}
        loading="lazy"
      />
      <div
        class="absolute inset-0 flex items-center justify-center rounded-lg bg-black opacity-0 transition-opacity duration-300 group-hover:opacity-50"
      >
        <span class="text-4xl text-white">Name of this service</span>
      </div>
    </div>
  </div>
  <div class="order-2 flex w-full flex-col items-center justify-center space-y-4 lg:w-1/2">
    <p class="mx-10 text-center text-xl lg:text-left">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde temporibus
      dolor laudantium dolores, nihil nulla cupiditate optio corporis facilis
      aspernatur harum necessitatibus ab aliquid aperiam ex sequi exercitationem
      officiis itaque.
    </p>
    <ul class="flex list-disc flex-col items-center text-xl">
      <p class="font-bold">A List If Needed</p>
      <li>part 1</li>
      <li>part 2</li>
      <li>part 3</li>
      <li>part 4</li>
    </ul>
    <Button link={link} text={text} />

  </div>
</section>

<section class="flex flex-col items-center gap-4 p-4 lg:flex-row">
  <div class="order-2 flex w-full flex-col items-center justify-center space-y-4 lg:w-1/2">
    <p class="mx-10 text-center text-xl lg:text-left">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Incidunt
      excepturi accusantium rem deserunt, aliquid voluptates provident earum
      atque ipsum cumque dolorem veritatis facere. Nam architecto aliquam quae
      fugiat sint ea.
    </p>
    <Button link={link} text={text} />
  </div>
  <div class="order-1 flex w-full justify-center lg:order-3 lg:w-1/2">
    <div class="group relative w-full max-w-md">
      <Image
        src="/work2.jpg"
        alt="completed work"
        class="h-auto w-full mx-auto max-w-xs sm:max-w-sm md:max-w-md lg:max-w-lg xl:max-w-xl rounded-xl shadow-md"
        width={500}
        height={500}
        loading="lazy"
      />
      <div
        class="absolute inset-0 flex items-center justify-center rounded-lg bg-black opacity-0 transition-opacity duration-300 group-hover:opacity-50"
      >
        <span class="text-4xl text-white">Name of this service</span>
      </div>
    </div>
  </div>
</section>
