---
import Image from "astro/components/Image.astro";
---

<section class="mb-20 mt-40 flex flex-col items-center gap-4 p-4 lg:flex-row">
  <div class="order-1 flex w-full justify-center lg:w-1/2">
    <Image
      src="/work1.jpg"
      alt=" completed work"
      class="h-auto w-full max-w-md rounded-xl"
      width={500}
      height={500}
    />
  </div>
  <div
    class="order-2 flex w-full flex-col items-center justify-center space-y-4 lg:w-1/2"
  >
    <p class="mx-10 text-center text-xl lg:text-left">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde temporibus
      dolor laudantium dolores, nihil nulla cupiditate optio corporis facilis
      aspernatur harum necessitatibus ab aliquid aperiam ex sequi exercitationem
      officiis itaque.
    </p>
    <a
      href="/About"
      class="order-3 rounded-md bg-yellow-400 p-4 text-stone-900 hover:bg-yellow-500"
      >More about us</a
    >
  </div>
</section>

<section class="flex flex-col items-center gap-4 p-4 lg:flex-row">
  <div
    class="order-2 flex w-full flex-col items-center justify-center space-y-4 lg:w-1/2"
  >
    <p class="mx-10 text-center text-xl lg:text-left">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Incidunt
      excepturi accusantium rem deserunt, aliquid voluptates provident earum
      atque ipsum cumque dolorem veritatis facere. Nam architecto aliquam quae
      fugiat sint ea.
    </p>
    <a
      href="/Contact"
      class="order-3 rounded-md bg-yellow-400 p-4 text-stone-900 hover:bg-yellow-500"
      >Get a quote</a
    >
  </div>
  <div class="order-1 flex w-full justify-center lg:order-3 lg:w-1/2">
    <Image
      src="/work2.jpg"
      alt="completed work"
      class="h-auto w-full max-w-md rounded-xl"
      width={500}
      height={500}
    />
  </div>
</section>
