---

---

<section
  class="mx-auto mt-[-60px] flex items-center justify-between rounded-none border-y-8 border-gray-600 bg-white px-10 py-20 text-center lg:max-w-[80%] lg:rounded-lg dark:border-yellow-300 dark:bg-slate-800"
>
  <div class="w-1/3 px-4">
    <p class="mb-4 text-4xl">Services</p>
    <img src="" alt="example service" class="mx-auto mb-4" />
    <p>brief description of job</p>
  </div>
  <div class="w-1/3 px-4">
    <p class="mb-4 text-4xl">Services</p>
    <img src="" alt="example service" class="mx-auto mb-4" />
    <p>brief description of job</p>
  </div>
  <div class="l w-1/3 px-4">
    <p class="mb-4 text-4xl">Services</p>
    <img src="" alt="example service" class="mx-auto mb-4" />
    <p>brief description of job</p>
  </div>
</section>
