---
import Image from "astro/components/Image.astro";
---

<section
  class="mx-auto mt-20 flex max-w-[80%] flex-col items-center justify-between rounded-lg border-y-8 border-blue-400 bg-neutral-950 px-10 py-20 text-center text-gray-100 shadow-lg lg:flex-row dark:bg-neutral-900 dark:text-gray-200"
>
  <div class="h-96 w-64 overflow-hidden px-4">
    <p class="mb-4 text-4xl">Services</p>
    <Image
      src="/smallwork1.jpg"
      alt="example service"
      loading="eager"
      width={160}
      height={160}
      class="mx-auto rounded-full sm:h-48 sm:w-48 md:h-56 md:w-56 lg:h-56 lg:w-56 dark:shadow-lg"
    />
    <p class="text-lg">One or two sentences about what your company offers.</p>
  </div>
  <div class="h-96 w-64 overflow-hidden px-4">
    <p class="mb-4 text-4xl">Services</p>
    <Image
      src="/smallwork2.jpg"
      alt="example service"
      loading="eager"
      width={160}
      height={160}
      class="mx-auto rounded-full sm:h-48 sm:w-48 md:h-56 md:w-56 lg:h-56 lg:w-56 dark:shadow-lg"
    />
    <p class="text-lg">One or two sentences about what your company offers.</p>
  </div>
  <div class="h-96 w-64 overflow-hidden px-4">
    <p class="mb-4 text-4xl">Services</p>
    <Image
      src="/smallwork3.jpg"
      alt="example service"
      loading="eager"
      width={160}
      height={160}
      class="mx-auto rounded-full sm:h-48 sm:w-48 md:h-56 md:w-56 lg:h-56 lg:w-56 dark:shadow-lg"
    />
    <p class="text-lg">One or two sentences about what your company offers.</p>
  </div>
</section>
