---
import Image from "astro/components/Image.astro";
---

<section
  class="mx-auto mt-[-40px] flex max-w-[80%] flex-col items-center justify-between rounded-lg border-y-8 border-yellow-300 bg-neutral-950 px-10 py-20 text-center text-gray-100 md:flex-row dark:bg-gray-100 dark:text-neutral-950"
>
  <div class="px-4 md:w-1/3">
    <p class="mb-4 text-4xl">Services</p>
    <Image
      src="/smallwork1.jpg"
      alt="example service"
      loading="lazy"
      width={160}
      height={160}
      class="mx-auto h-40 w-40 rounded-full sm:h-48 sm:w-48 md:h-56 md:w-56 lg:h-64 lg:w-64 dark:shadow-lg"
    />
    <p class="text-lg">One or two sentences about what your company offers.</p>
  </div>
  <div class="px-4 md:w-1/3">
    <p class="mb-4 text-4xl">Services</p>
    <Image
      src="/smallwork2.jpg"
      alt="example service"
      loading="lazy"
      width={160}
      height={160}
      class="mx-auto h-40 w-40 rounded-full sm:h-48 sm:w-48 md:h-56 md:w-56 lg:h-64 lg:w-64 dark:shadow-lg"
    />
    <p class="text-lg">One or two sentences about what your company offers.</p>
  </div>
  <div class="px-4 md:w-1/3">
    <p class="mb-4 text-4xl">Services</p>
    <Image
      src="/smallwork3.jpg"
      alt="example service"
      loading="lazy"
      width={160}
      height={160}
      class="mx-auto h-40 w-40 rounded-full sm:h-48 sm:w-48 md:h-56 md:w-56 lg:h-64 lg:w-64 dark:shadow-lg"
    />
    <p class="text-lg">One or two sentences about what your company offers.</p>
  </div>
</section>
