---
const { text, customerTitle, name } = Astro.props;
---

<section class="py-18 sm:py-22 relative isolate overflow-hidden px-6 lg:px-8">
  <div class="absolute"></div>
  <div class="absolute inset-y-0 right-1/2 -z-10 mr-16 w-[200%]"></div>
  <div class="mx-auto max-w-2xl lg:max-w-4xl">
    <figure class="mt-10">
      <blockquote
        class="text-center text-xl leading-8 text-stone-800 dark:text-white sm:leading-9"
      >
        <p>
          {text}
        </p>
      </blockquote>
      <figcaption class="mt-10">
        <img
          class="mx-auto h-10 w-10 rounded-full"
          src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
          alt=""
        />
        <div class="mt-4 flex items-center justify-center space-x-3 text-base">
          <div class="font-semibold text-gray-900 dark:text-gray-300">
            {customerTitle}
          </div>
          <svg
            viewBox="0 0 2 2"
            width="3"
            height="3"
            aria-hidden="true"
            class="fill-gray-900"
          >
            <circle cx="1" cy="1" r="1"></circle>
          </svg>
          <div class="text-gray-600 dark:text-zinc-400">{name}</div>
        </div>
      </figcaption>
    </figure>
  </div>
</section>
